# Object files
*.o
src/obj/

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
lisod

# Test files
replay.test
replay.out

readme.txt
